<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>

<h1>Dashboard</h1>
<p class="lead">Chào mừng đến với trang quản trị!</p>

<!-- Thống kê sẽ được thêm vào đây -->
<div class="row">
    <!-- ... -->
</div>


<%- include('../partials/footer') %>z